:root{
    --apple:#6ab04c;
    --deepapple:#509632;
    --applelight:#badc58;
    --teal:#2fe9d6;
    --teallight:#26A69A;
    --paste:#67a69b;
    --deeppaste:#5e998f;
    --watermelon:#ff4757;
    --lightpink:#eb4d4b;
    --bisque:#ff945b;
    --blue:#1e90ff;
    --gray:#636e72;
    --lightgray:#a4b0be;
    --darkgray:#283849;
    --darkdeep:#1b242b;
    --light:#b2bec3;
    --white:#ffffff;
    --whitesec: #f5f6fa;
    --closeback:#dfe6e9;
    --closebackdeep:#d0d4d6;
}

header{
    margin-bottom: 5rem;
}

main{
    margin-bottom: 5rem;
}
#favourites{

    font-size: 2.2rem;
    border: none;
    color: var(--apple);

}